<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34711621260-o1b4gc2f2nogce0e08j487cr0pho64od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34711621260-o1b4gc2f2nogce0e08j487cr0pho64od</string>
	<key>API_KEY</key>
	<string>AIzaSyCJhIsWQpFpFZzJAOaLGC9v_LI_KAZ_4lA</string>
	<key>GCM_SENDER_ID</key>
	<string>34711621260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.airballoon.Shoutout</string>
	<key>PROJECT_ID</key>
	<string>shoutout-509dd</string>
	<key>STORAGE_BUCKET</key>
	<string>shoutout-509dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34711621260:ios:fef6896f2bfc9fd2fbf5a9</string>
</dict>
</plist>